TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://localhost:3333
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
SMTP_HOST=mail.infomaniak.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USERNAME=support@cyberhereos.com
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=support@cyberhereos.com
MAIL_FROM_NAME=CyberHereos Support
MAIL_REPLY_TO_ADDRESS=support@cyberhereos.com
